body {
    font-family: 'Arial', sans-serif;
    background-color: #2e75b8;
    color:aliceblue;
    margin: 20px;
  }

  #encabezado{

    width:80vw;
    background-color:cadetblue;
    border: 2px solid antiquewhite;
    border-radius: 3%;
    margin:auto;
    font-size: 2em;
    color:blue;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    background-color: black;
    font-size: 1em;
    color:#f4f4f4;
    border: 2px solid orange;
    height: 10%;
    display:flex;
    justify-content:center;
  }

  .miTexto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:rgb(104, 5, 104);
  }